.topbar-container {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar-left {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbar-center {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px !important;
    margin-left: 10;
}

.search-input {
    bottom: none;
    width: 70%;
}

.search-input:focus {
    outline: none;
}

.topbar-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbar-link {
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
}

.topbar-icons {
    display: flex;
}

.topbar-icon-item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbar-icon-badge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.topbar-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}