.share {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.share-wrapper {
    padding: 10px;
}

.share-top {
    display: flex;
    align-items: center;
}

.share-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.share-input {
    border: none;
    width: 80%;
}

.share-input:focus {
    outline: none;
}

.share-hr {
    margin: 20px;
}

.share-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share-options {
    display: flex;
    margin-left: 20px;
}

.share-option {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.share-icon {
    font-size: 18px;
    margin-right: 3px;
}

.share-option-text {
    font-size: 14px;
    font-weight: 500;
}

.share-btn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: blue;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}